.toptitle{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(233, 233, 236);
    background-color: rgb(245, 245, 247);
    max-height: 54px !important;
    min-height: 54px !important;
    line-height: 24px !important;
}
.div-Name {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    padding:1rem;
}
.div-Name:hover .ic{
    visibility:visible;
}
.ic{
    display:flex;
}
.ic, .ic-down{
    visibility: hidden;
}